* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: relative;
}

body {
    background-color: antiquewhite ;
}
header {
    display:flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

h1 {
    font-style: italic;
    margin: 30px 25px;
    text-align: center;
    font-size: 32px;
}

h2 {
    margin: 20px 0px;
    font-size: 28px;
}

div {
    margin: 20px 25px;
}

nav li {
    width: 300px;
}

div ul {
    list-style-type: none;
}

div img {
    height: 450px;
    width: 300px;
    box-shadow: 4px 4px 4px 4px black;
}

div li {
    margin: 5px 0px;
}

a {
    max-width: 300px;
}

a:link {
    text-decoration:none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

p {
    margin: 10px 0px;
}

/* p::first-letter {
    font-size: 2em;
} */

/* li::before {
    content: "blavla";
} */

.cards {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: 3px solid black;
    border-radius: 10px;
    width: 500px;
}

.seance {
    position:absolute;
    bottom: 10px;
}

.synopsis {
    /* p:::first-letter: 2em; */
    text-align: start;
    width: 85%;
    padding-bottom: 40px;;
}

.date_info {
    text-align: start;
    width: 85%;
    margin: 0;
    padding-top: 10px;
    ;
}

.nav_flex {
    display:flex;
    text-align: center;
    list-style-type: none;
}

.nav_flex a {
    margin: 12px 12px;
    padding: 12px 12px;
}

form {
    width: 60%;
    background-color: antiquewhite;
    margin: auto;
    padding: 10px;
    border-radius: 3px;
}

label {
    display: flex;
    justify-content: center;
}

input, textarea {
    display:flex;
    background-color: white;
    border-radius: 5px;
    border: 1px solid;
    width: 70%;
    margin: auto;
}

button {
    display:block;
    margin:auto;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding:10px;
    border: 1px solid;
}

button[type="submit"]:hover {
    background-color: black !important;
    color: white;
}
/*
button:hover {
    background-color: black;
    color: white;
}
*/

#logo {
    width: 100px;
    height: 100px;
}

